<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a class="navbar-brand" href="#">
    <img width="40"
         alt="Osm Logo"
         src="../assets/My project-1 (3).png" />
  </a>
  <a class="navbar-brand" href="#" style="font-size:large">Welcome To New Year 2023</a>
  <div class="spacer"></div>
  <span>Click the icon to visit the profile  </span>
  <div id="LinkedInMar">
    <div id="idLinkedInIcon" onclick="window.open('https://www.linkedin.com/in/osama-bin-aqueel/');" title="LinkedIn">in</div>
  </div>
</div>


