<div style="background-color: gainsboro;">
<div class="clap">
    
    <img src="../../assets/clap.gif" alt="clap gif">
    <h1 style="padding: 56px; display: inline;"> Told you not to click here.😂😂 well done</h1>
    
</div>
<div class="felitations">
    <h1 style="padding: 56px; display: inline; margin-top: 20px;"> Hope this year we follow instructions</h1>
    <img src="../../assets/felitation.gif" alt="felitation gif">
    
    
</div>
</div>
<style>
    .clap {  
    display: flex; 
    justify-content: left; 
    align-items: center;
}
.felitations {  
    display: flex; 
    justify-content: right; 
    /* align-items: center; */
}
</style>
